<%= form_for @game do |f| %>
  <div>
    <%= f.label :name %> <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :game_date %> <%= f.date_field :game_date %>
  </div>
  <div>
    <%= f.label :team %> <%= f.select :team, Game::TEAM %>
  </div>
  <div>
    <%= f.label :league %> <%= f.select :league, Game::LEAGUE %>
  </div>
  <div>
    <%= f.label :cost %> <%= f.text_field :cost %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
