<%= form_for @game do |f| %>
  <div>
    <h2>
      <%= f.label(:name, options={:class => "gray-text"}) %>
      <%= f.text_field(:name, options={:class => 'medium-text'}) %>
    </h2>
  </div>

  <div>
    <h2>
    <%= f.label(:game_date, options={:class => "gray-text"}) %>
    <%= f.date_field(:game_date, options={:class => 'medium-text'}) %>
    </h2>
  </div>

  <div>
    <h2>
    <%= f.label(:team, options={:class => "gray-text"}) %>
    <%= f.select(:team, options_for_select(Game::TEAM), options={:class =>'select-size'}) %>
    </h2>
  </div>

  <div>
    <h2>
    <%= f.label(:league, options={:class => "gray-text"}) %>
    <%= f.select(:league, Game::LEAGUE, options={:class =>'select-size'}) %>
    </h2>
  </div>

  <div>
    <h2>
    <%= f.label(:cost, options={:class => "gray-text"}) %>
    <%= f.text_field(:cost, options={:class =>'medium-text'}) %>
    </h2>
  </div>

  <div>
    <h2>
    <%= f.submit(options={ :class => "btn btn-light rounded-0 grayed btn-lg btn-block", :value => 'OK'}) %>
    </h2>
  </div>
<% end %>
