<h1>Hi <%= current_user.name %></h1>
<div>
  <%= link_to '+ NEW GAMES', new_game_path %>
</div>
<div>
<h4>PAST GAMES</h4>
<hr>
<h2><%= @cart %></h2>
<% @games.each do |game| %>
  <div>
    <%= game.name %> <%= game.cost %> <button type="button">PAY ALL</button>
  </div>
  <div>
    <%= game.game_date %>
  </div>
  <div>
    <%= game.team %>
  </div>
  <div>
    <%= game.league %>
  </div>
  <div>
    <h4><%= game.players.count || '0' %> players total</h4>
  </div>
  <% game.players.each do |player| %>
    <div>
      <p><%= player.name %> $5 <button type="button">PAY</button></p>
      <%= link_to 'PAY', add_game_player_payment_games_path(player: player, game: game, cart: @cart), method: :post %>
    </div>
  <% end if game.players.present? %>
  <hr>
<% end %>

