<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>


<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Team</th>
    <th>Cost</th>
    <th>Paid</th>
    <th>Link</th>
  </tr>
  <% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.game_date %></td>
    <td><%= game.team %></td>
    <td><%= game.cost %></td>
    <td><%= number_to_currency(game.payments.paid.sum(&:stripe_amount)/100) %></td>
    <td><%= link_to 'View', game_path(game) %><td>
  </tr>
  <% end %>
</table>
