<header>
  <div class="d-flex justify-content-between align-items-baseline">
    <div class="p-2">
      <h2 class="large-text gray-text">Hi <%= current_user.name %></h2>
    </div>
    <div class="p-2">
      <%= link_to "Sign Out", signout_path, class: "large-text gray-text" %>
    </div>
  </div>
</header>

<% if administrator %>
  <div class="p-2 large-text black-text">
    <button type="button" class="btn btn-light rounded-0 grayed btn-lg btn-block">
      <h1><b><%= link_to '+ NEW GAME', new_game_path %></b></h1></button>
  </div>
<% end %>

<div class="d-flex flex-row">
  <div class="p-2">
    <h3 class="gray-text">PAST GAMES</h3>
  </div>
</div>
<div class="d-flex flex-row">
  <div class="pl-2 pb-2">
    <%= render partial: 'cart_total', locals: { total: @total } %>
    <button type="button">
      <%= link_to 'Clear Cart', clear_cart_games_path(), method: :post %>
    </button>
  </div>
</div>

<%= form_tag payments_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>
  <script src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="TeamPay"
          data-description="<%= @description %>"
          data-amount="<%= @total %>"
          data-locale="auto"
          data-currency="nzd"
          data-email=<%= current_user.email %>
            data-currency="nzd"
          data-allowRememberMe="true">
  </script>
<% end %>


<% @games.each do |game| %>
  <div id="game-<%= game.id %>" class="border gray-text game nr2 ">
    <div class="d-flex justify-content-between align-items-start mt-2">
      <div class="d-flex flex-column flex-grow-1">
        <div class="pl-2 pr-2 flex-grow-1">
          <h1 class="gray-text"><b><%= game.name %></b></h1>
        </div>
        <div class="pl-2 pr-2">
          <p id="date-time-team">
            <%= game.game_date %> <br>
            <%= game.team %> <br>
            <%= game.league %>
          </p>
        </div>
      </div>

      <div class="d-flex flex-column">
        <div class="pl-2 pr-2">
          <h2 class="dollars"><b><%= number_to_currency(game.outstanding_balance) %></b></h2>
        </div>
        <div class="pl-2 pr-2 ">
          <p class="text-right">Outstanding payment</p>
        </div>
      </div>
    </div>

    <% game.players.each do |player| %>
      <div class="d-flex flex-column">
        <div class="d-flex flex-row">
          <div class="pl-2 pr-2 flex-grow-1">
            <h2><%= player.name %></h2>
          </div>
          <div class="pl-2 pr-2">
            <h4 class="dollars-small"><b><%= number_to_currency(game.player_fee) %></b></h4>
          </div>

          <div class="pl-2 pr-2" id ="player-<%= player.id %>">
          <% unless game.paid_player?(player.id) %>
              <% unless (session.has_key?(:cart) && session[:cart].has_key?(game.id.to_s) && session[:cart][game.id.to_s].include?(player.id.to_s)) %>
                <%= render partial: 'payment_button', locals: { game: game, player: player, total: @total} %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end if game.players.present? %>
  </div>
<% end %>

