<h1>Add players</h1>
<div>
<table>
  <% @players.each do |player| %>
  <tr>
    <td>
      <%= player.name %>
      <% unless @game.player_added?(player.id) %>
        <%= link_to 'ADD', game_add_player_path(player: player), method: :post %>
      <% else %>
        <%= link_to 'REMOVE', game_remove_player_path(player: player), method: :post %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
</div>
<div>
  <%= link_to '+ NEW PLAYER', game_new_player_path %>
</div>
<div>
  <%= link_to 'OK', @game %>
</div>
<div>
<button type="button">Cancel</button>
</div>