<header>
  <div class="d-flex justify-content-between align-items-baseline">
    <div class="p-2">
      <h2 class="large-text gray-text"><b>+ Add Player </b></h2>
    </div>
  </div>
</header>

<div class="d-flex border p-4 mb-5">
  <div class="d-flex flex-column flex-grow-1">
    <% @players.each do |player| %>
      <% unless @game.player_added?(player.id) %>
        <div class="d-flex flex-row">
          <div>
          </div>
          <div class="flex-grow-1">
            <h3><%= player.name %></h3>
          </div>
          <div>
            <button type="button" class="add-remove btn btn-light rounded-0 grayed">
              <%= link_to 'ADD', game_add_player_path(player: player), method: :post %>
            </button>
          </div>
        </div>
      <% else %>
        <div class="d-flex flex-row green-text">
          <div class="green-tick">
            <h2>✔️</h2>
          </div>
          <div class="flex-grow-1">
            <h3><%= player.name %></h3>
          </div>
          <div>
            <button type="button" class="add-remove btn btn-light rounded-0 grayed">
              <%= link_to 'REMOVE', game_remove_player_path(player: player), method: :post %>
            </button>
          </div>
        </div>
      <% end %>
    <% end %>
    <button type="button" class="btn-light rounded-0 grayed btn-block btn-padding-2">
      <h2><strong><%= link_to '+ NEW PLAYER', game_new_player_path %></strong></h2>
    </button>
  </div>
</div>

<button type="button" class="btn btn-light rounded-0 grayed btn-block">
  <h2><strong><%= link_to 'OK', @game %></strong></h2>
</button>
<button type="button" class="btn btn-light rounded-0 grayed btn-block">
  <h2><strong>Cancel</strong></h2>
</button>
