<h1><%= @game.name.upcase %></h1>
<div>
  <div><h3>DEFINE GAME</h3></div>
  <div>Date:<%= @game.game_date %></div>
  <div>Team:<%= @game.team %></div>
  <div>League:<%= @game.league %></div>
  <div>Cost:<%= @game.cost %></div>
  <div>Active:</div>
  <%= link_to 'EDIT', edit_game_path(@game) %>
</div>
<div>
  <div><h3>WHO PLAYED?</h3></div>
  <div>0 players total</div>
  <%= link_to 'Add players', game_players_path(@game) %>
</div>
<div>
  <button type="button">OK</button>
</div>
<div>
  <button type="button">Cancel</button>
</div>