<p>Name: <%= @game.name %></p>
<p>Date: <%= @game.game_date %></p>
<p>Team: <%= @game.team %></p>
<p>Cost: <%= @game.cost %></p>

<%= form_for([@game, @payment]) do |f| %>
<article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <label class="amount">
    <span>Payable Amount: <%= number_to_currency(@game.cost) %></span>
  </label>
</article>
<script src="https://checkout.stripe.com/checkout.js"
	class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	data-name="TeamPay"
        data-description="<%= @description %>"
        data-amount="<%= @amount %>"
        data-locale="auto"
	data-currency="nzd"
	email="<%= @email %>"
	currency="nzd"
	allowRememberMe="true">
</script>
<% end %>
